[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
	shallow = true
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "etcd"]
	path = etcd
	url = https://github.com/metadium/etcd
[submodule "wemix/governance-contract/contracts/openzeppelin/contracts-upgradeable"]
	path = wemix/governance-contract/contracts/openzeppelin/contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "wemix/governance-contract/contracts/openzeppelin/contracts"]
	path = wemix/governance-contract/contracts/openzeppelin/contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
